html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #0f0f12;
  color: #eaeaea;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
#scene {
  width: 100%;
  height: 100%;
  display: block; /* removes tiny gaps */
  cursor: grab;
}
#scene:active { cursor: grabbing; }
